/autom4te.cache/
/aclocal.m4
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/src/hh
.deps/
Makefile
Makefile.in
*.o
*.pro.user
*.snap
*.*~
hstr
test/hstr-unit-tests