/autom4te.cache/
/aclocal.m4
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/src/hstr
/src/hh
.deps/
Makefile
Makefile.in
*.o
*.pro.user
*.snap
/parts
/prime
/stage
/snap/.snapcraft
/snap/snap/
/snap/parts/
*.*~
hstr
hh
*.pro.user
test/hstr-unit-tests
/hstr.pro.user*
*.stash
*.save
